<ul class="nav nav-tabs" id="myTab">
                <li {% if (app.request.requesturi == path('expeditor_employe')) or (app.request.requesturi+"/" == path('expeditor_homepage'))   %}class="active"{% endif %}
                       ><a data-toogle="tab" href="{{ url('expeditor_employe') }}">Employe</a></li>  
                <li {% if app.request.requesturi == path('expeditor_manager') %}class="active"{% endif %}
                       ><a data-toogle="tab" href="{{ url('expeditor_manager') }}">Manager</a></li>
                <li {% if app.request.requesturi == path('expeditor_manager_articles_list') %}class="active"{% endif %}
                       ><a data-toogle="tab" href="{{ url('expeditor_manager_articles_list') }}">Articles</a></li>
                <li {% if app.request.requesturi == path('expeditor_manager_import_commandes') %}class="active"{% endif %}
                       ><a data-toogle="tab" href="{{ url('expeditor_manager_import_commandes') }}">Import Commandes</a></li>
                <li {% if app.request.requesturi == path('expeditor_bouchon') %}class="active"{% endif %}
                       ><a data-toogle="tab" href="{{ url('expeditor_bouchon') }}">Bouchon!</a></li>
</ul>
{{app.request.requesturi}} {{path('expeditor_employe')}} or {{path('expeditor_homepage')}}
