{% extends "AppBundle::base.html.twig" %}
{% block body %}
    {% block title %} <h1> Espace Manager </h1>{% endblock %}
    <div class="containerCommandes">
        <h3>Commandes à traiter</h3>
<div class="CommandesATraiter">
        <table class="table table-fixed table-striped">
            <thead>
                <tr>
<<<<<<< Updated upstream
                    <th class="col-xs-1 col-lg-1">Numéro</th>
                    <th class="col-xs-1 col-lg-1">Date de la commande</th>
                    <th class="col-xs-2 col-lg-2">Nom client</th>
                    <th class="col-xs-1 col-lg-1">Nb art.</th>
                    <th class="col-xs-1 col-lg-1">Prix €</th>
                    <th class="col-xs-1 col-lg-1">Poids de la commande</th>
                    <th class="col-xs-3 col-lg-3">Employé qui s'en occupe</th>
                    <th class="col-xs-2 col-lg-2">statut</th>
=======
                    <th>Numéro</th>
                    <th>Date de la commande</th>
                    <th>Nom client</th>
                    <th>Nombre d'articles</th>
                    <th>Prix €</th>
                    <th>Poids</th>
                    <th>Employé</th>
                    <th>Statut</th>
>>>>>>> Stashed changes
                </tr>
            </thead>
            <tbody>
            {% for commandesAtraiter in commandesAtraiter %}
                <tr>
                    <td class="col-xs-1 col-lg-1">{{ commandesAtraiter.numero }}</td>
                    <td class="col-xs-1 col-lg-1">{{ commandesAtraiter.dateDeCommande|date('Y-m-d') }}</td>
                    <td class="col-xs-2 col-lg-2">{{ commandesAtraiter.client.getNom() }}</td>
                    <td class="col-xs-1 col-lg-1">{{ commandesAtraiter.getNbArticles() }}</td>
                    <td class="col-xs-1 col-lg-1">{{ commandesAtraiter.getPrix() }}</td>
                    <td class="col-xs-1 col-lg-1">{{ commandesAtraiter.getPoids() }}</td>
                    <td class="col-xs-3 col-lg-3">{{ commandesAtraiter.employe }}</td>
                    <td class="col-xs-2 col-lg-2">{{ commandesAtraiter.statut }}</td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
   </div>
    </br>
    <h3>Liste des Employés et leurs performance du jour</h3>
    <div class="ListeEmployes">
    <table class="table">
        <thead>
            <tr>
                <th>Salarié</th>
                <th>Nombre de commandes traitées ce jour</th>
            </tr>
            </thead>
            <tbody>
            {% for employe in employes %}
                <tr>
                    <td>{{ employe.username }}</td> 
                    <td>{{listeNbCommande[loop.index-1]}}</td> 
                </tr>
            {% endfor %}
        </tbody>
    </table>
               </div>
{% endblock %}