{% extends "AppBundle::base.html.twig" %}
{% block body %}
    {% block title %} <h1> Espace Manager </h1>{% endblock %}
    <div class="containerCommandes">
        <h3>Commandes à traiter</h3>
<div class="CommandesATraiter">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Numéro</th>
                    <th>Date de la commande</th>
                    <th>Nom client</th>
                    <th>Nombre d'articles</th>
                    <th>Prix €</th>
                    <th>Poids de la commande</th>
                    <th>Employé</th>
                    <th>Statut</th>
                </tr>
            </thead>
            <tbody>
            {% for commandesAtraiter in commandesAtraiter %}
                <tr>
                    <td>{{ commandesAtraiter.numero }}</td>
                    <td>{{ commandesAtraiter.dateDeCommande|date('Y-m-d') }}</td>
                    <td>{{ commandesAtraiter.client.getNom() }}</td>
                    <td>{{ commandesAtraiter.getNbArticles() }}</td>
                    <td>{{ commandesAtraiter.getPrix() }}</td>
                    <td>{{ commandesAtraiter.getPoids() }}</td>
                    <td>{{ commandesAtraiter.employe }}</td>
                    <td>{{ commandesAtraiter.statut }}</td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
   </div>
    </br>
    <h3>Liste des Employés et leurs performance du jour</h3>
    <div class="ListeEmployes">
    <table class="table">
            <tr>
                <th>Salarié</th>
                <th>Nombre de commandes traitées ce jour</th>
            </tr>
            {% for employe in employes %}
                <tr>
                    <td>{{ employe.username }}</td> 
                    <td>{{listeNbCommande[loop.index-1]}}</td> 
                </tr>
            {% endfor %}
    </table>
               </div>
{% endblock %}