{% extends "AppBundle::base.html.twig" %}
{% block title %} Gestion des articles{% endblock %}
{% block body %}
    <h1> Gestion des articles </h1>
    <script>
        function loadForm(id,nom,poids,stock,prix){
            document.getElementById("form_id").value=id;
            document.getElementById("form_nom").value=nom;
            document.getElementById("form_poids").value=poids;
            document.getElementById("form_stock").value=stock;
            document.getElementById("form_prix").value=prix;
        }
        </script>
    <h3>Articles enregistrés</h3>
    <table class="table table-fixed table-striped">
           <thead>
        <tr>
            <th class="col-xs-1 col-lg-3">Nom de l'article </th>
            <th class="col-xs-1 col-lg-2 right">Poids (en grammes)</th>
            <th class="col-xs-1 col-lg-2 center">Stock</th>
            <th class="col-xs-1 col-lg-2 right">Prix</th>
            <th class="col-xs-1 col-lg-3 center">Actions</th>
        </tr>
            </thead>
            <tbody>
    {% for article in articles %}
        <tr onclick="loadForm({{ article.id }},'{{ article.nom }}',{{ article.poids }},{{ article.stock }},{{ article.prix }});" class="survolable">
            <td class="col-xs-1 col-lg-3">{{ article.nom }}</td>            
            <td class="col-xs-1 col-lg-2 right">{{ article.poids }}</td>
            <td class="col-xs-1 col-lg-2 center">{{ article.stock }}</td>
            <td class="col-xs-1 col-lg-2 right">{{ article.prix }}</td>
            <td class="col-xs-1 col-lg-3 center"><a href="{{ url('expeditor_manager_articles_list') }}?delete={{ article.id }}">Supprimer</a></td>
        </tr>
    {% endfor %}
     </tbody>
    </table>
    <h3>Ajouter/modifier un article</h3>
    <p>Pour modifier un article : sélectionnez-le dans la liste ci-dessus, modifiez les champs suivants et cliquer sur enregistrer.</p>
    <p>Pour ajouter un article : cliquez sur ajouter, renseignez les champs suivants et enregistrez.</p>
{{ form(form) }}

    {% endblock %}