{% extends "AppBundle::base.html.twig" %}
{% block body %}
{% block title %} <h1> Gestion des articles </h1>{% endblock %}
    <script>
        function loadForm(id,nom,poids,stock){
            document.getElementById("form_id").value=id;
            document.getElementById("form_nom").value=nom;
            document.getElementById("form_poids").value=poids;
            document.getElementById("form_stock").value=stock;
        }
        </script>
    <h3>Articles enregistrés</h3>
    <table class="table">
        <tr>
            <th>Nom de l'article </th>
            <th>Poids (en grammes)</th>
            <th>Stock de l'article</th>
        </tr>
    {% for article in articles %}
        <tr onclick="loadForm({{ article.id }},'{{ article.nom }}',{{ article.poids }},{{ article.stock }});" >
            <td >{{ article.nom }} </td>            
            <td>{{ article.poids }} </td>
            <td>{{ article.stock }} </td>
            <td><a href="{{ url('expeditor_manager_articles_list') }}?delete={{ article.id }}">Supprimer</a></td>
        </tr>
    {% endfor %}
  
    </table>
    <h3>Ajouter/modifier un article</h3>
    <p>Pour modifier un article : sélectionnez-le dans la liste ci-dessus, modifiez les champs suivants et cliquer sur enregistrer.</p>
    <p>Pour ajouter un article : cliquez sur ajouter, renseignez les champs suivants et enregistrez.</p>
{{ form(form) }}

    {% endblock %}